<div class="page-content-wrapper">
  <div class="page-content">
      <!-- BEGIN PAGE BREADCRUMB -->
      <ul class="page-breadcrumb breadcrumb">
          <li>
              <a href="">Dashboard</a>
              <i class="fa fa-circle"></i>
          </li>
          <li>
              <a href="javascript:void(0)">Manage Customer</a>
          </li>
      </ul>
     
      <div class="row">
          <div class="col-md-12">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet box grey-cascade">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="fa fa-list"></i>Add Customer
                      </div>
                      <div class="tools">
                          <a class="collapse" href="javascript:void(0);" data-original-title="" title="">
                          </a>
                          <a class="config" data-toggle="modal" href="#portlet-config" data-original-title=""
                             title="">
                          </a>
                          <a class="reload" href="javascript:void(0);" data-original-title="" title="">
                          </a>
                          <a class="remove" href="javascript:void(0);" data-original-title="" title="">
                          </a>
                      </div>
                  </div>
                  <div class="portlet-body">
                      <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
                      
                      <table>
                          <tr>
                              <td>Customer Name:</td>
                              <td colspan="3">
                                  <input type="text" class="form-control" name="customer_name" />
                                 
                              </td>
                          </tr>
                          <tr>
                              <td>First Name:</td>
                              <td>
                                  <input type="text" class="form-control" name="first_name" />
                                
                              </td>
                              <td>Last Name:</td>
                              <td>
                                  <input type="text" class="form-control" name="last_name" />
                                 
                              </td>
                          </tr>
                          <tr>
                              <td>Address Line 1:</td>
                              <td>
                                  <textarea type="text" class="form-control" name="address_1" ></textarea>
                                  
                              </td>
                              <td>Address Line 2:</td>
                              <td>
                                  <textarea type="text" class="form-control" name="address_2" ></textarea>
                                 
                              </td>
                          </tr>
                          <tr>
                              <td>City:</td>
                              <td>
                                  <input type="text" class="form-control" name="city" />
                                 
                              </td>
                              <td>State:</td>
                              <td>
                                  <input type="text" class="form-control" name="state" />
                                 
                              </td>
                          </tr>
                          <tr>
                              <td>Postal Code:</td>
                              <td>
                                  <input type="text" class="form-control" name="postal_code" />
                                 
                              </td>
                              <td>Phone:</td>
                              <td>
                                  <input type="text" class="form-control" name="phone" />
                                  
                              </td>
                          </tr>
                          <tr>
                              <td>Select Division:</td>
                              <td>
                                  <select class="form-control" name="division_id">
                                      <option value="">--select division--</option>
                                      
                                  </select>
                                 
                              </td>
                              <td>AR ACCT:</td>
                              <td>
                                  <input type="text" class="form-control" name="ar_acct" />
                                 
                              </td>
                          </tr>
                          <tr>
                              <td>Email:</td>
                              <td colspan="3">
                                  <input type="email" class="form-control" name="email" />
                                  
                              </td>
                          </tr>
                          <tr>
                              <td>Website:</td>
                              <td colspan="3">
                                  <input type="text" class="form-control" name="website" />
                                 
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <button class="btn btn-primary">Add</button>
                              </td>
                              <td></td>
                          </tr>
                      </table>
                      </form>
                  </div>
              </div>
              <!-- END PAGE CONTENT INNER -->
          </div>
      </div>
      <!-- END CONTENT -->
  </div>
</div>