nav {
    background: #2D2E2E;
    height: 100%;
}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
       ul li a {

                color:#00A8FF;
                padding: 20px;
                display: block;
            }

            li .activated {
                background-color: #00a8ff;
            }
        
    
    
