<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="">Dashboard</a>
              </li>
            <li>
                <a href="javascript:void(0)">Manage Products</a>
            </li>
        </ul>
        

        <!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
<div class="row">
    <div class="col-sm-12" style="position: relative; z-index: 1;">
        <table>
            <tr><td>Category</td><td>Season</td></tr>
            <tr>
                <td>
                    <select id="category" class="form-control">
                            
                        <option value="">All</option>
                        <option value="1">category1</option>
                        <option value="2">category2</option>
                        <option value="3">category3</option>
                        
                    </select>

                   
                </td>
                <td>
                    <select id="season" class="form-control">
                        <option value="">All</option>
                        <option value="1">summer</option>
                        <option value="2">rainy</option>
                        <option value="3">winter</option>
                        
                       </select>
                </td>
            </tr>
        </table>
    </div>

    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row row-pad">
                    <div class="col-md-3 col-sm-4 col-xs-12 row-pad catalog-product" data-category="category" data-season="Rainy">
                        <div class="col-item">
                            <div class="photo">
                                
                                <img class="product_image" src="http://localhost/catalog/img/profiler-img.png">
                            </div>

                            <div class="info">
                                <div class="row">
                                    <div class="price col-md-6 col-sm-6 col-xs-12">
                                        <h5>
                                            abc</h5>
                                        <h5 class="price-text-color">
                                            $41</h5>
                                    </div>                                          
                                    <div class="col-md-6 col-sm-6 col-xs-12 separator clearfix">
                                        <p class="btn-details">
                                            <i class="material-icons">
                                                list
                                                </i><a routerLink="/add-to-cart" class="hidden-sm">More details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-4 col-xs-12 row-pad catalog-product" data-category="category" data-season="Rainy">
                        <div class="col-item">
                            <div class="photo">
                                
                                <img class="product_image" src="http://localhost/catalog/img/profiler-img.png">
                            </div>

                            <div class="info">
                                <div class="row">
                                    <div class="price col-md-6 col-sm-6 col-xs-12">
                                        <h5>
                                            abc</h5>
                                        <h5 class="price-text-color">
                                            $41</h5>
                                    </div>                                          
                                    <div class="col-md-6 col-sm-6 col-xs-12 separator clearfix">
                                        <p class="btn-details">
                                                <i class="material-icons">
                                                        list
                                                        </i><a routerLink="add-to-cart" class="hidden-sm">More details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12 row-pad catalog-product" data-category="category" data-season="Rainy">
                        <div class="col-item">
                            <div class="photo">
                                
                                <img class="product_image" src="http://localhost/catalog/img/profiler-img.png">
                            </div>

                            <div class="info">
                                <div class="row">
                                    <div class="price col-md-6 col-sm-6 col-xs-12">
                                        <h5>
                                            abc</h5>
                                        <h5 class="price-text-color">
                                            $41</h5>
                                    </div>                                          
                                    <div class="col-md-6 col-sm-6 col-xs-12 separator clearfix">
                                        <p class="btn-details">
                                                <i class="material-icons">
                                                        list
                                                        </i><a routerLink="add-to-cart" class="hidden-sm">More details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12 row-pad catalog-product" data-category="category" data-season="Rainy">
                        <div class="col-item">
                            <div class="photo">
                                
                                <img class="product_image" src="http://localhost/catalog/img/profiler-img.png">
                            </div>

                            <div class="info">
                                <div class="row">
                                    <div class="price col-md-6 col-sm-6 col-xs-12">
                                        <h5>
                                            abc</h5>
                                        <h5 class="price-text-color">
                                            $41</h5>
                                    </div>                                          
                                    <div class="col-md-6 col-sm-6 col-xs-12 separator clearfix">
                                        <p class="btn-details">
                                                <i class="material-icons">
                                                        list
                                                        </i><a routerLink="add-to-cart" class="hidden-sm">More details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>      
</div>