.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.row-pad{
    padding: 20px;
}
.product_image{
    padding: 20px;
}
.multiselect-native-select {
  margin-right: 15px;
}
.col-item .separator {
  border-top: 0 none;
}
.col-item .btn-details {
  float: left;
  padding-left: 10px;
  text-align: right !important;
  width: 100%;
}
.info {
  background-color: #69aed9;
  border-top: 1px solid #e5e5e5;
}
.price-text-color, .col-item .price h5 {
  color: #333333;
  font-weight: 600;
}
p a.hidden-sm {
  color: #353535;
  font-weight: 600;
}
.col-item:hover .info{
    background-color: #69aed9 !important;
}
.multiselect-native-select b {
  float: right;
  margin: -12px 0 0 !important;
  text-align: right;
}
.multiselect-native-select button{
    text-align: left;
}
.col-item .photo img {
    height: 270px;
    margin: 0 auto;
    width: 100%;
}
.product_image {
    padding: 20px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    direction: ltr;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row-pad {
    padding: 20px;
}
.col-md-3 {
    width: 25%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
