.custom-dash .page-header {
    background-size: cover;
    position: relative;
    border-radius: 0;
    margin:0;
    background-color: #fff;
  }
  .custom-dash .page-content{
    background-color: #f5f5f5;
    padding:0;
  }
  .custom-dash .page-header h5 {
      font-weight: 500;
      font-size: 26px;
  }
  .custom-dash .page-header .page-block {
    padding: 30px 40px;
  }
  .custom-dash .page-header .page-block .breadcrumb {
      background: none;
      padding: 0;
      box-shadow: none;
      margin: 0;
  }
  .custom-dash .page-header .page-block .breadcrumb a {
      font-size: 14px;
      text-decoration:none;
      color:#444;
      font-weight: 300;
  }
  .custom-dash .page-header .page-block .breadcrumb .breadcrumb-item:last-child a {
      font-weight: 600;
  }
  .custom-dash .pcoded-inner-content {
    padding: 10px;
    background: #fff;
    min-height: calc(100vh - 232px);
    -webkit-box-shadow: 0 -4px 4px -2px rgba(43,43,43,.1);
    box-shadow: 0 -4px 4px -2px rgba(43,43,43,.1);
  }
  .custom-dash .pcoded-inner-content .main-body {
      margin-top: -35px;
  }
  .custom-dash .main-body .page-wrapper {
      padding: .6rem 1.5rem;
      -webkit-transition: all ease-in .3s;
      transition: all ease-in .3s;
  }
  .custom-dash .o-hidden {
      overflow: hidden;
  }
  .custom-dash .card {
      border-radius: 5px;
      padding:0;
      -webkit-box-shadow: 0 12px 5px -10px rgba(0,0,0,.1), 0 0 4px 0 rgba(0,0,0,.1);
      box-shadow: 0 12px 5px -10px rgba(0,0,0,.1), 0 0 4px 0 rgba(0,0,0,.1);
      border: 0;
      margin-bottom: 30px;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
  }
  .custom-dash .card h5,
  .custom-dash .card h3{
    font-weight: 600;
    color:#fff;
  }
  .custom-dash .bg-c-blue {
      background: #4fc3f7;
  }
  .custom-dash .bg-c-green {
      background: #33db9e;
  }
  .custom-dash .bg-c-red {
      background: #f0466b;
  }
  .custom-dash .bg-c-yellow {
      background: #ff8a65;
  }
  .custom-dash .web-num-card .card-block {
      position: relative;
  }
  .custom-dash .card .card-block {
      padding: 20px 30px;
  }
  .custom-dash .web-num-card .card-block:before {
      width: 130px;
      height: 130px;
      bottom: -50px;
  }
  .custom-dash .web-num-card .card-block:after, 
  .custom-dash .web-num-card .card-block:before {
      content: "";
      position: absolute;
      background: rgba(255,255,255,.2);
      border-radius: 50%;
      right: -50px;
  }
  .custom-dash .web-num-card .card-block::after {
      width: 85px;
      height: 85px;
      bottom: 50px;
  }
  .custom-dash .web-num-card .card-block::after, 
  .custom-dash .web-num-card .card-block::before {
      content: "";
      position: absolute;
      background: rgba(255,255,255,.2);
      border-radius: 50%;
      right: -50px;
  }