<div class="page-content-wrapper custom-dash">
    <div class="page-content">
        <!-- BEGIN PAGE BREADCRUMB -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#!">
                                    <i class="material-icons">
                                        home
                                        </i><a href="#!"> - Dashboard</a>  
                                                        </a>
                            
                            <i class="material-icons">
                                home
                                </i><a (click)="logout()"> - Logout</a>  
                                                      

                            </li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row">
                            <div class="col-xl-3 col-md-3">
                                <div class="card o-hidden bg-c-blue web-num-card">
                                    <div class="card-block">
                                        <h5 class="m-t-15 ">Sales</h5>
                                        <h3 class="m-b-15 ">$ 53,120</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3">
                                <div class="card o-hidden bg-c-green web-num-card">
                                    <div class="card-block">
                                        <h5 class="m-t-15 ">Sales</h5>
                                        <h3 class="m-b-15 ">$ 53,120</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3">
                                <div class="card o-hidden bg-c-red web-num-card">
                                    <div class="card-block">
                                        <h5 class="m-t-15 ">Sales</h5>
                                        <h3 class="m-b-15 ">$ 53,120</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3">
                                <div class="card o-hidden bg-c-yellow web-num-card">
                                    <div class="card-block">
                                        <h5 class="m-t-15 ">Sales</h5>
                                        <h3 class="m-b-15 ">$ 53,120</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>